.todo-item{
  border-bottom: 2px solid #333333;
}

.todo-item__wrapper {
  display: flex;
  align-items: center;
  margin: 0 20px;
  text-align: left;
}

.todo-item__text {
  width: 100%;
  padding: 10px;
}

.todo-item__button {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: none;
  background: #ffffff url("./dustbin.svg") no-repeat center;
  background-size: cover;

}

.todo-item__button span {
  display: none;
}

.todo-item__done {
  text-decoration: line-through;
}